body {
    font-family: "Verdana", "Tahoma", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

.headers {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    justify-content: space-between;
}

ul.right-link {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

ul.left-links {
    display: flex;
    gap: 14px;
}

.header-container {
    background-color: #1F2937;
    height: 400px;
    padding: 8px;
}

.header-content {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    align-items: flex-start;
    justify-content: space-between;
}

.placeholder {
    height: 160px;
    width: 500px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    color: white;
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    flex-shrink: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
}

.information-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 16px 0px;
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: center;
}

.first, .second, .third, .fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    gap: 8px;
}

.image-placeholder {
    border: 4px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.text-placeholder {
    text-align: center;
}

.quote-block {
    background-color: #E5E7EB;
    margin: 36px 0px;
    padding: 36px 72px;
}

.quote, .author {
    color: #1F2937;
    font-style: italic;
}

.quote {
    font-size: 36px;
    text-align: center;
}

.author {
    font-weight: 700;
    text-align: right;
}

.call-to-action {
    margin: 32px auto;
    padding: 16px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    gap: 48px;
    flex-grow: 1;
}

.call-to-action-button {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 700;
}

.copyright {
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    font-weight: 700;
}